<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Welcome Page</title>
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
</head>
<body>
<div class="container">
	<h2>Welcome Page</h2>
	<h2><span th:text="${personInfo.message}"></span></h2>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>LastName</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="person : ${personInfo.personList}">
				<td th:text="${person.id}"></td>
				<td th:text="${person.firstName}"></td>
				<td th:text="${person.lastName}"></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>